/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}*/

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

body {
  background-color: #00004d;
  font-size: 25px;
  color: #e5ba0d;
  font-family: 'Handlee', cursive;
}

#homebar {
  height: 200px;
  background-color: #e5ba0d;
}

#homebar li {
  display: inline-block;
  margin: 0px 80px;
  font-size: 30px;
  font-family: 'Permanent Marker', cursive;
  color: #e5ba0d;
}

a {
  text-decoration: none;
  color: #00004d;
}

h1 a {
  color: #e5ba0d;
}

p a {
  font-size: 30px;
  margin-top: 100px;
  /*display: inline-block;*/
  margin-right: 500px;
  color: #e5ba0d;
}

img {
  width: 500px;
}

.headers h3 {
  display: inline-block;
  margin-right: 500px;
  color: #e5ba0d;
}

#rankings h3 {
  display: inline-block;
  margin-right: 40px;
}

img {
  display: inline-block;
  width: 40%;
}

h4 {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  float: right;
  margin-top: 5px;
}
h4 a{
  color: #e5ba0d;
}


/*.playoffs h4 a:hover{
  color: #e5ba0d;
}*/
/*#pp a {
  float: right;
}*/
