.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background-color: #00004d;
  color: #ffd633;
}

#homebar {
  height: 400px;
}

#homebar li {
  display: inline-block;
  margin: 0px 100px;
  color: #b3b3b3;
  font-size: 30px;
}

#homebar a {
  text-decoration: none;
  color: #cca300;
}

h3 {
  font-size: 30px;
  margin-top: -200px;
}

img {
  width: 500px;
}
